<!DOCTYPE html>
<html>
	<head>
		<title>Room Bookings</title>
		<link href="{{url_for('static', path='/style.css')}}" rel="stylesheet"/>
		<script type="module" src="{{ url_for('static', path='/firebase-login.js')}}"></script>
	</head>
	<body style="text-align: center;">
		<div id="login-box" style="text-align: center;" hidden="true">
			<table style="text-align: center;width: 300px;" class="table">
				<tr>
					<td colspan="2">
						<input type="email" class="form-control" name="" placeholder="Enter email" id="email"><br/>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="password" class="form-control" name="" placeholder="Enter password" id="password"><br/>
					</td>
				</tr>
				<tr>
					<td>
						<button id="login" class="btn btn-success">Login</button>
					</td>
					<td>
						<button id="sign-up" class="btn btn-info">Sign Up</button>
					</td>
				</tr>
			</table>
		</div>
		<button id="sign-out" class="btn btn-danger" hidden="true">Sign out</button>
		
		{% if user_token %}
        <p class="table-success"> Current User email: {{user_token.email}}</p>
			<table class="table">
				<tr>
					<form action="/" method="get">
						<td><input type="submit" class="btn btn-warning" value="Home"></td>
					</form>
				</tr>
			</table>
			<table class="table table-bordered table-striped">
				<th colspan="3" class="table-dark">Bookings on: {{selected_date}}</th>
				<tr>
					<th>Sr No.</th>
					<th>Booking Date</th>
					<th>Booking Time</th>
				</tr>
				{% for current_booking in bookings %}
				
					<tr>
						<td>{{current_booking.get('date')}}</td>
						<td>{{current_booking.get('time')}}</td>
					</tr>
					
				{% endfor %}
			</table>
        {% endif %}
    </body>
</html>